.ipysigma-widget {
  margin: 0;
  padding: 0;
  border: 1px solid #e0e0e0;
}

.ipysigma-widget .ipysigma-left-panel {
  position: absolute;
  top: 10px;
  left: 10px;
}

.ipysigma-widget .ipysigma-right-panel {
  position: absolute;
  top: 10px;
  right: 10px;
}

.ipysigma-widget .ipysigma-graph-description {
  background-color: white;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  font-size: 12px;
  font-style: italic;
  z-index: 10;
}

.ipysigma-widget .ipysigma-button {
  cursor: pointer;
  text-align: center;
  font-size: 0.8em;
  z-index: 10;
  background-color: white;
  border: 1px solid #e0e0e0;
  user-select: none;
}

.ipysigma-widget .ipysigma-svg-icon {
  width: 32px;
  height: 32px;
  font-size: 24px;
}

.ipysigma-widget .ipysigma-zoom-button {
  margin-top: 15px;
}

.ipysigma-widget .ipysigma-unzoom-button {
  margin-top: 5px;
}

.ipysigma-widget .ipysigma-reset-zoom-button {
  margin-top: 5px;
}

.ipysigma-widget .ipysigma-layout-controls {
  width: 100%;
  margin-top: 15px;
  display: flex;
}

.ipysigma-widget .ipysigma-spinner {
  font-size: 20px;
  padding-left: 5px;
}

.ipysigma-widget .ipysigma-reset-layout-button {
  margin-top: 5px;
}
