/* Choices.js overrides */
.choices {
  margin-bottom: 5px;
}

.choices__inner {
  border-radius: 0;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.choices__item--selectable {
  padding-right: 0px !important;
}

/* Ipysigma own styles */
.ipysigma-widget {
  background-color: white;
  margin: 0;
  padding: 0;
  border: 1px solid #e0e0e0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ipysigma-widget hr {
  height: 1px;
  border: none;
  background-color: #e0e0e0;
}

.ipysigma-widget #ipysigma-left-panel {
  position: absolute;
  top: 10px;
  left: 10px;
}

.ipysigma-widget #ipysigma-right-panel {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  height: calc(100% - 20px);
}

.ipysigma-widget #ipysigma-graph-description {
  background-color: white;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  font-size: 12px;
  font-style: italic;
  line-height: 16px;
}

.ipysigma-widget .ipysigma-button {
  cursor: pointer;
  text-align: center;
  background-color: white;
  border: 1px solid #e0e0e0;
  user-select: none;
}

.ipysigma-widget .ipysigma-button:hover {
  border-color: grey;
}

.ipysigma-widget .ipysigma-svg-icon {
  width: 32px;
  height: 32px;
  font-size: 24px;
  line-height: 30px;
  box-sizing: border-box;
}

.ipysigma-widget #ipysigma-zoom-button {
  margin-top: 10px;
}

.ipysigma-widget #ipysigma-unzoom-button {
  margin-top: 10px;
}

.ipysigma-widget #ipysigma-reset-zoom-button {
  margin-top: 10px;
}

.ipysigma-widget #ipysigma-fullscreen-button {
  margin-top: 10px;
}

.ipysigma-widget #ipysigma-layout-controls {
  width: 100%;
  margin-top: 10px;
  display: flex;
}

.ipysigma-widget .ipysigma-spinner {
  font-size: 20px;
  padding-left: 5px;
  line-height: 26px;
}

.ipysigma-widget #ipysigma-reset-layout-button {
  margin-top: 5px;
}

.ipysigma-widget .ipysigma-tab-button.selectable {
  color: cornflowerblue;
  text-decoration: underline;
  cursor: pointer;
}

.ipysigma-widget #ipysigma-information-display {
  width: 100%;
  height: calc(100% - 45px - 5px - 30px);
  overflow-y: auto;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  font-size: 12px;
  font-style: italic;
  line-height: 16px;
  padding: 10px;
}

.ipysigma-widget #ipysigma-node-information {
  font-family: monospace;
}

.ipysigma-widget .ipysigma-string {
  color: #bc2828;
}

.ipysigma-widget .ipysigma-number {
  color: #008800;
}

.ipysigma-widget .ipysigma-boolean {
  color: #0457ab;
}

.ipysigma-widget #ipysigma-download-controls {
  margin-top: 5px;
  /* display: flex; */
  height: 30px;
}

.ipysigma-widget #ipysigma-download-png-button,
.ipysigma-widget #ipysigma-download-svg-button,
.ipysigma-widget #ipysigma-download-gexf-button {
  margin-right: 3px;
}
